<!doctype html>

<head>
    <title>document data</title>
</head>
<body bgcolor="#CCFFCC">

<h1><i>{{ data.Title[0] }}</i></h1>
<hr/>
<table>
    <tr>
        <td><b>Director:</b> {{ data.Director[0] }}</td>
    </tr>
    <tr>
        <td><b>Starring:</b> {{ data.Starring }}</td>
    </tr>
	<tr>
        <td><b>Location:</b> {{ data.Location[0] }}</td>
	</tr>
	<tr>
        <td><b>Text:</b> {{ data.Text }}</td>
	</tr>
</table>
<br>
<br>
(Use browser "back" button to return to search results.)
</body>
